{{define "yield"}}
  <div class="row">
    <div class="col-md-12">
      <h1>
      {{.Title}}
      </h1> 
      <a href="/galleries/{{.ID}}">Edit</a>
      <p>Images coming soon!</p>
    </div>
  </div>
{{end}}


