{{define "yield"}}
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="panel panel-primary">
        <div class="panel-heading ">{{ .Name }}</div>
        <div class="panel-body ">
          {{template "dashboard"}}
        </div>
      </div>
    </div>
  </div>
 
{{end}}

{{define "dashboard"}}
  <h1>Dashboard Under Construction</h1>
{{end}}